---
layout: default
---
<div class="main" id="main">

    <div class="main-text--center">
        <div class="main-text--center-left">
            <h1 class="anim--in">Elia Scotto</h1>
            <p class="anim--fade">Creative coder since 1994.</p>

            {% include social_icons.html %}

        </div>
        <div class="main-text--center-right">
            <h1 class="anim--in">Out soon.</h1>
        </div>
    </div>

    <div class="main-image--center">
        <img src="img/Attesa.png">
    </div>

    <div class="info">
        <a href="http://www.christies.com/LotFinder/lot_details.aspx?intObjectID=5037914"
            target="_blank" title="Concetto Spaziale, Attesa" class="anim-fade">
            "Concetto Spaziale, Attesa"<br>Lucio Fontana, 1965.
        </a>
    </div>

    <section class="footer">
        <div class="footer-text">
            <p>&copy; {{ 'now' | date: "%Y" }}</p>
        </div>
    </section>

</div>
